<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span routerLink="/">Auction</span>
        <span [routerLink]="['/productmgmt']" *ngIf="currentUser && currentUser.role==='admin'">Products Managment</span>
        <span class="example-spacer"></span>
        <button mat-stroked-button [routerLink]="['/login']" *ngIf="!currentUser">Login</button>
        <button mat-stroked-button [routerLink]="['/register']" *ngIf="!currentUser">Register</button>
        <button mat-stroked-button class="example-icon" (click)="logout()" *ngIf="currentUser">Logout</button>
        <span class="navbar-text" *ngIf="currentUser">
            Hello, {{currentUser.firstName}}

        </span>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>