
<mat-card>
  <mat-card-header>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>
       <countdown [config]="{leftTime: product.timer}"></countdown>
    </mat-card-subtitle>
  </mat-card-header>
  <div class="card-image">
    <img mat-card-image src="{{product.images[0].imageUrl}}" alt="{{product.name}}" width="60px">
  </div>
  <mat-card-content>
    <p>
      {{product.description}}
    </p>
  </mat-card-content>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="$" type="number">
    </mat-form-field>

    <mat-card-actions class="example-full-width">
      <button mat-button (click)="goToPayment()" >Increase Bid</button>
    </mat-card-actions>
  </form>
</mat-card>
