<div class="products-wrap mt-100 border-top-0">
    <div class="container-fluid">
        <div class="row no-gutters products">

            <div class="col-6 col-md-6 col-lg-4" *ngFor="let product of productsArray">
                <a class="item">
                    <img src="{{product.images[0].imageUrl}}" alt="Image" class="img-fluid product-image">
                    <div class="item-info">
                        <h3>{{product.name}}</h3>
                        <span class="collection d-block">{{product.description | trim:20 }}</span>
                        <strong class="price">$9.50</strong>
                        <br>
                        <countdown [config]="{leftTime: product.timer}"></countdown>
                        <br>
                        <button mat-button (click)="goToProduct(product)">PLACE BID</button>
                    </div>
                </a>
            </div>


        </div>
    </div>
</div>