<div class="container">
    <mat-grid-list cols="3" rowHeight="590px">
        <mat-grid-tile *ngFor="let product of productsArray">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{product.name}}</mat-card-title>
                    <mat-card-subtitle>
                        <countdown [config]="{leftTime: product.timer}"></countdown>
                    </mat-card-subtitle>
                </mat-card-header>
                <div class="card-image">
                    <img mat-card-image src="{{product.images}}" alt="{{product.name}}" width="60px">
                </div>
                <mat-card-content>
                    <p>
                        {{product.description | trim:100 }}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>