<div class="site-blocks-cover inner-page py-5" data-aos="fade" *ngIf="winnings != undefined && winnings.length == 0">
    <div class=" container ">
        <div class="row align-items-center ">
            <div class="col-lg-4 ml-auto order-lg-2 align-self-start ">
                <div class="site-block-cover-content ">
                    <h2 class="sub-title ">Register now to: </h2>
                    <h1>You didn't win any bids yet</h1>
                    <h2 class="sub-title ">Start bidding and get your 30% off</h2>
                    <p class="mt-50 ">
                        <a [routerLink]="[ '/products' ] " class="btn btn-black rounded-0 ">Explore products</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-8 order-1 align-self-end ">
                <img src="./assets/images/model_woman_1.png " alt="Image " class="img-fluid ">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid " *ngIf="winnings != undefined  && winnings.length > 0">
    <div class="row">
        <div class="title-section text-center col-12 mt-50">
            <h2 class="text-uppercase">My Winnings BIDS</h2>
        </div>
    </div>
    <div class="row no-gutters products ">
        <div class="col-6 col-md-6 col-lg-4 " *ngFor="let item of winnings ">
            <a class="item ">
                <img src="{{item.product.images[0].imageUrl}} " alt="Image " class="img-fluid product-image ">
                <div class="item-info ">
                    <h3>{{item.product.name}}</h3>

                    <span class="collection d-block ">{{item.product.description | trim:20 }}</span>
                    <strong class="price ">Won : {{item.amount | currency}}</strong>


                </div>
            </a>
        </div>
    </div>
</div>
