.login-container {
    margin: 100px auto;
    max-width: 600px;
}
mat-form-field {
    width: 100%;
}
.mat-card-header-text {
    margin-left: 0 !important;
}
.mt-15 {
    margin-top: 15px;
    display: block;
}