<div class="container">

    <h2>Login</h2>
    <div class="alert alert-danger" *ngIf="error">
        <strong>Error!</strong> {{error}}
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-horizontal">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <mat-error *ngIf="submitted && f.email.errors && f.email.errors.required">Email is required</mat-error>
            <mat-error *ngIf="submitted && f.email.errors &&f.email.errors.email">Write valid email address</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <mat-error *ngIf="submitted && f.password.errors && f.password.errors.required">Password is required</mat-error>

        </mat-form-field>


        <button mat-raised-button color="primary" [disabled]="loading">Login</button>
        <img *ngIf="loading" src="../../assets/img/loading.gif" />
        <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </form>
</div>