/* You can add global styles to this file, and also import other style files 
@import url('');*/
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


html, body { height: 100%; background: #eee; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    max-width: 1170px;
    margin: 0 auto
}
.card-center-container {
    margin: 100px auto;
    max-width: 600px;
}
.full-width-input {
    width: 100%;
}
.mat-card-header-text {
    margin-left: 0 !important;
}
.mt-15 {
    margin-top: 15px;
    display: block;
}
.mat-grid-tile .mat-figure {
    margin: 30px !important;
}
.mat-card-image {
    width:75% !important;
    margin: 0 auto !important;
}
.card-image {
    padding: 15px;
    height: 300px;
    text-align: center;
    overflow: hidden;
}